:root {
    --dark-bg: #010e23;
    --light-bg: #fdfdfd;
    --title: rgb(72, 139, 202);
    --table-text-header: rgb(182, 182, 182);
    --color-asc: rgb(50, 216, 125);
    --color-des: rgb(96, 186, 221);
}


html {
    background-color: var(--light-bg);
    height: 100%;
    font-family: "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, 游ゴシック, 游ゴシック体, YuGothic, "Yu Gothic", "ＭＳ ゴシック", "MS Gothic", HiraKakuProN-W3, TakaoExゴシック, TakaoExGothic, MotoyaLCedar, "Droid Sans Japanese", sans-serif;

}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
}

.opacity-0 {
    visibility: hidden !important;
    opacity: 0 !important; 
}

.body-outer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.body-inner {
    max-width: 1200px;
    width: 80%;
    height: 80%;
    background-color: rgb(50, 54, 57);
    border: 1px solid rgb(39, 39, 44);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    overflow: hidden;
}

.body-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.body-banner-sub {
    height: 49px;  
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.width-60 { width: 60%;}
.width-40 { width: 40%;}

.body-banner-filter-special {
    background-color: rgb(32, 33, 36);
}

.body-banner-filter {
    width: calc(100% - 24px);
    height: calc(100% - 24px);
    box-sizing: border-box;
    padding: 1px 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1000px;
    border: none;
    caret-color: white;
    color: var(--table-text-header);
    display: inline-block;
    transition: background-color 0.2s ease-in-out;
}

.body-banner-filter:focus {
    outline: none;
    border: 1px solid rgb(78, 78, 78);
    background-color: rgba(0, 0, 0, 0.7);
    transition: background-color 0.2s ease-in-out;
    margin-left: -2px;
}

.body-banner-filter:hover {
    background-color: rgba(0, 0, 0, 0.7);
    transition: background-color 0.2s ease-in-out;
}

.display-none {
    display: none;
}

.body-banner-opt {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(32, 33, 36);
    cursor: pointer;
    color: var(--table-text-header);
    transition: all 0.05s ease-out;
}

.body-banner-opt:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transition: all 0.05s ease-out;
}

.select-active {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    background-color: rgb(50, 54, 57);
    cursor: default;
}

.select-active:hover {
    background-color: rgba(0, 0, 0, 0);
}

.body-inner-shadow-overlay {
    -moz-box-shadow:    inset 0 0 5px #000;
    -webkit-box-shadow: inset 0 0 5px #000;
    box-shadow:         inset 0 0 5px #000;
}

.body-title {
    font-size: 50px;
    color: var(--title);
    margin: 20px;
}

.body-info {
    color: var(--title);
    padding: 20px;
}

.body-content {
    height: calc(100% - 50px);
    overflow-y: auto;
    width: 100%;
    position: relative;
    display: none;
}

.content-active {
    display: block; 
}

.body-content-header {
    width: 100%;
    padding: 0 2%;
    box-sizing: border-box;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(50, 54, 57);
    border-bottom: 1px solid rgb(39, 39, 44);
    color: var(--table-text-header);
    position: sticky;
    right: 0;
    left: 0;
    top: 0;
}

.text-active-highlight-asc {
    color: var(--color-asc);
}

.text-active-highlight-des {
    color: var(--color-des);
}

.body-content-entry {
    width: 96%;
    margin: 10px auto;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(32, 33, 36);
    color: var(--table-text-header);
    border-radius: 5px;
    font-size: 14px;
    overflow: hidden;
    position: relative;
}

.decorate-on-hover:hover {
    box-shadow: 0 0 0 1pt rgb(119, 119, 119);
}

.body-content-item {
    width: calc((100% / 13) * 2);
    height: 100%;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-content-item-header {
    cursor: pointer;
    height: 70%;
    border-radius: 2000px;
    margin: 2px;
    transition: 0.15s all ease-out
}

.body-content-item-header:hover {
    background-color: rgba(255, 255, 255, 0.05);
    transition: 0.15s all ease-out
}

.body-content-id-field {
    width: calc((100% / 13));
}

.body-content-profile-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-content-profile-inner {
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    border: 1px solid rgb(39, 39, 44);
    background-color: rgba(255, 255, 255, 0.05);
}

.body-content-profile-leftpanel {
    width: 30%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.profile-sub-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.height-60 {height: 60%;}
.height-40 {height: 40%;}

.profile-pic {
    width: calc(100% - 70px);
    height: calc(100% - 70px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    border: 1px solid rgb(0, 0, 0);
}

.profile-bio {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    text-align: center;
    color: var(--table-text-header);
    font-size: 15px;
}

.body-banner-filter:focus {
    outline: none;
    border: 1px solid rgb(78, 78, 78);
    background-color: rgba(0, 0, 0, 0.7);
    transition: background-color 0.2s ease-in-out;
    margin-left: -2px;
}

.body-banner-filter:hover {
    background-color: rgba(0, 0, 0, 0.7);
    transition: background-color 0.2s ease-in-out;
}

.search-entry-link {
    background-color: rgba(0, 0, 0, 0);
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    position: absolute;
}

/* Auth */

.auth-overlay {
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: 1;
    visibility: visible;
    transition: all 0.5s linear;
}

.auth-box {
    width: 500px;
    height: 300px;
    background-color: rgba(255,255, 255, 0.98);
    border-radius: 5px;
    -moz-box-shadow:    0 0 10px #ffffff;
    -webkit-box-shadow: 0 0 10px #ffffff;
    box-shadow:         0 0 10px #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.auth-input-button {
    border: 2px solid black;
    padding: 5px 20px;
    margin: 5px;
    border-radius: 5px;
    background-color: var(--dark-bg);
    color: white;
    cursor: pointer;
}

.auth-inputfield-wrapper {
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-inputfield {
    width: 50%;
}

.auth-p {
    margin: 2px;
    padding: 1px;
}

.auth-input-title {
    font-size: 32px;
    margin: 5px;
    padding: 5px;
}

/* Overrides */

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;     
}

.no-interaction {
    cursor: default;
    background-color: rgba(0, 0, 0, 0) !important;
}